.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 1.75rem;
  border-radius: var(--radius-pill);
  font-weight: 600;
  line-height: 1;
  background-color: var(--color-text);
  color: var(--color-white);
  transition:
    background-color 0.2s ease-in-out,
    all 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-2px);
  }

  &--primary {
    color: var(--color-white);
    background-color: var(--color-primary-dark);

    &:hover {
      background-color: var(--color-primary-dark);
    }

  &--secondary {
    color: var(--color-primary-dark);
    padding: 1rem 2rem;

    &:hover {
      background-color: var(--color-primary-dark);
      }
    }
  }
}